body,html{
        background-color: rgba(0, 0, 0);
        color: rgb(209, 18, 50);
        margin: 0;
        padding: 0;
       
    }

footer{
    background-color: rgb(190, 167, 167);
    color: rgb(209, 18, 50);
    height: 100%;
    margin: 0;
    padding: 0;
    
}

    
#grid_1{
    display: grid;
    margin: 0;
    padding: 0;
    width: 80%;
    height: auto;
   
}

#grid_2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
    margin-left: 20px;
    margin-top:10px ;
}
 
@media screen and (max-width: 1225px) and (min-width: 835px) {
    .priority-5{
            display:none;
    }
}

@media screen and (max-width: 835px) {
    .priority-5{
            display:none;
    }
    .priority-4{
            display:none;
    }
    .priority-3{
        display:none;
    }

}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}